<!DOCTYPE html>
<html lang="en">


	<div class="row justify-content-center bg-image mx-0 mb-5">
            <div class="col-lg-6 py-5">
                <div class="bg-white p-5 my-5">
                    <h1 class="text-center mb-4">Log In</h1>
                    <form method="post" action="/Login/Index">
                        <div class="form-row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="Username" class="form-control bg-light border-0" placeholder="Your Username" style="padding: 30px 20px;">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="password" name="Password" class="form-control bg-light border-0" placeholder="Password" style="padding: 30px 20px;">
                                </div>
                            </div>
                        </div>
                            <div class="col-sm-6">
                                <button class="btn btn-primary btn-block" type="submit" style="height: 60px;">Log In</button>
                            </div>
 
                    </form>
                </div>
            </div>
        </div>

</html>