<!DOCTYPE html>
<html lang="en">



<body class="sub_page">

    <!-- offer section -->
    <style>
        /* Styling for the button */
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
        <!-- Button with the desired text and redirect link -->
    <button class="button" onclick="window.location.href='/BookButcher'">Book Butcher for Qurbani</button>

    <partial name="_ServicesPartialView" />
</body>

</html>